// HEADER :: START
header.header(data-aos="fade-up" data-aos-delay="1100")
  .container
    .header__wrapper
      a(href="#").header__logo
        img(src="img/logotype.svg", alt="")
      .header__info
        .header__column
          a(href="tel:+380673808616") +38 067 3808616
          .header__soc
            a(href="viber://chat?number=+380673808616") 
              i Viber
            a(href="tg://resolve?domain=danil_shkodyak") 
              i Telegram
            a(href="whatsapp://send?phone=+380673808616") 
              i WhatsApp
        a.header__btn(href="#test-popup" js-popup data-effect="mfp-zoom-in") Заказать звонок

#test-popup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    form.js-registration-form2(action="send.php" method="post")
      h2 Оставьте свои данные и мы Вам перезвоним
      .consultation__grid
        .input-container
          input(type="text" name="name" placeholder="Ваше имя")
        .input-container
          input(type="number" name="phone" placeholder="Ваш телефон")
        .input-container
          input(type="text" name="theme" placeholder="О проекте")
        .input-container
          input.btn(type="submit" value="Заказать звонок" )
          input(type="hidden" name="whatForm" value="Заказать звонок - шапка сайта")

#thankpopup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    h2 Спасибо за заявку
    p.sub-title Мы свяжемся с Вами через несколько минут

#errorpopup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    h2 Что то пошло не так :(
    p.sub-title Свяжитесь с нами по одной из альтернативных ссылок
    .popup__wrapper-links
      a(href="viber://chat?number=+380673808616") 
        img(src="img/viber.png", alt="")
      a(href="tg://resolve?domain=danil_shkodyak") 
        img(src="img/telegram.svg", alt="")
      a(href="whatsapp://send?phone=+380673808616") 
        img(src="img/whatsapp.svg", alt="")
    p.sub-title Спасибо за понимание :)
// HEADER :: END
