// HEADER :: START
header.header(data-aos="fade-up" data-aos-delay="1100")
  .container
    .header__wrapper
      a(href="#").header__logo
        img(src="img/logotype.svg", alt="")
      .header__info
        .header__column
          a(href="callto:+380673808616") +38 067 3808616
          i Viber, Telegram, WhatsApp
        a.header__btn(href="#test-popup" js-popup data-effect="mfp-zoom-in") Заказать звонок

#test-popup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    form.js-registration-form2(action="send.php" method="post")
      h2 Оставьте свои данные и мы Вам перезвоним
      .consultation__grid
        .input-container
          input(type="text" name="name" placeholder="Ваше имя")
        .input-container
          input(type="tel" name="phone" placeholder="Ваш телефон")
        .input-container
          input(type="text" name="theme" placeholder="Тема консультации")
        .input-container
          input.btn(type="submit" value="Заказать звонок" )
          input(type="hidden" name="whatForm" value="Заказать звонок - шапка сайта")

#thankpopup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    h2 Спасибо за заявку
    p.sub-title Мы свяжемся с Вами через несколько минут

#errorpopup.popup.white-popup.mfp-with-anim.mfp-hide
  .popup__wrapper
    h2 Извините
    p.sub-title Проверьте правильность введеных данных
// HEADER :: END
