// PRELOADER :: BEGIN

.preloader.preloader--gray
  .preloader__img
    img(src="img/logotype.svg", alt="")
  .body
    span
      span
      span
      span
      span
    .base
      span
      .face
  .longfazers
    span
    span
    span
    span
  p.preloader__info Загрузка...

// PRELOADER :: END