---
title: Studio13
bodyClass: homepage
---
extends shared/_layout
block content
  
  // dummy contents & instructions
  // REMOVE COMPLEATLY, it have nothing to do with project code - examples only


  // SECTION :: FIRSTSCREEN
  section.firstscreen
    img.firstscreen__lamp(src="img/lamp.png", alt="" data-aos="fade-down" data-aos-delay="1100")
    .container.container--big
      .container
        .firstscreen__grid
          .firstscreen__info
            h1.firstscreen__title(data-aos="fade-up" data-aos-delay="1300") Упакуем 
              | ваш бизнес
            p.firstscreen__sub-title(data-aos="fade-up" data-aos-delay="1500") под ключ за 
              span 13 дней 
              | или вернем вам деньги!
          .firstscreen__block(data-aos="fade-up" data-aos-delay="1600")
            img(src="img/card-1.png", alt="" data-aos="fade-up" data-aos-delay="1700")
            img(src="img/card-2.png", alt="" data-aos="fade-up" data-aos-delay="1850" data-aos-offset="-200") 
            //- img(src="img/card-3.png", alt="" data-aos="fade-up" data-aos-delay="2000")
            //- img(src="img/card-4.png", alt="" data-aos="fade-up" data-aos-delay="2300")
            //- img(src="img/card-5.png", alt="" data-aos="fade-up" data-aos-delay="2500")
            img(src="img/glass.png", alt="" data-aos="fade-up")
      img.firstscreen__convert(src="img/envelope.png", alt="" data-aos="fade-up" data-aos-delay="1600")

  // SECTION :: FIRSTSCREEN

  // SECTION :: WHAT WE DO
  section.what-we-do
    .container
      h2(data-aos="fade-up") Что мы делаем
      p.sub-title(data-aos="fade-up") Мы создаем дизайн простым, чистым и продающим!
  // SECTION :: WHAT WE DO

  // SECTION :: PROJECTS
  section.projects
    .container.container--big
      .container
        .projects__top
          .projects__carousel.projects__carousel--editable(data-aos="fade-up")
            .p-carousel(js-slick-1)
              .item
                img(src="img/project-b-1.jpg", alt="")
              .item
                img(src="img/project-1.jpg", alt="")
              .item
                img(src="img/project-2.jpg", alt="")
              .item
                img(src="img/project-3.jpg", alt="")
              .item
                img(src="img/project-4.jpg", alt="")
          .projects__info.projects__info--editable(data-aos="fade-up" data-aos-delay="300")
            h2 Брендинг
            p.sub-title Логотип, фирменный стиль, брендбук. 
              br 
              | Нейминг в подарок!
      .projects__grid(data-aos="fade-up")
        .pr-carousel(js-slick-1-1)
          .projects__item
            img(src="img/project-1-1.jpg", alt="")
          .projects__item
            img(src="img/project-1.jpg", alt="")
          .projects__item
            img(src="img/project-2.jpg", alt="")
          .projects__item
            img(src="img/project-3.jpg", alt="")
          .projects__item
            img(src="img/project-4.jpg", alt="")
  // SECTION :: PROJECTS

  // SECTION :: PROJECTS
  section.projects
    .container.container--big
      .container
        .projects__top.projects__top--reverse
          .projects__carousel(data-aos="fade-up")
            .p-carousel(js-slick-2)
              .item
                img(src="img/project-b-5.jpg", alt="")
              .item
                img(src="img/project-5.jpg", alt="")
              .item
                img(src="img/project-6.jpg", alt="")
              .item
                img(src="img/project-7.jpg", alt="")
              .item
                img(src="img/project-8.jpg", alt="")
          .projects__info(data-aos="fade-up" data-aos-delay="300")
            h2 Упаковка
            p.sub-title Упаковка продукта, дизайн этикетки,
              br
              | визуализация. 
      .projects__grid(data-aos="fade-up")
        .pr-carousel(js-slick-2-1)
          .projects__item
            img(src="img/project-5-1.jpg", alt="")
          .projects__item
            img(src="img/project-5.jpg", alt="")
          .projects__item
            img(src="img/project-6.jpg", alt="")
          .projects__item
            img(src="img/project-7.jpg", alt="")
          .projects__item
            img(src="img/project-8.jpg", alt="")
  // SECTION :: PROJECTS

  // SECTION :: PROJECTS
  section.projects
    .container.container--big
      .container
        .projects__top
          .projects__carousel(data-aos="fade-up" data-aos-delay="300")
            .p-carousel(js-slick-3)
              .item
                img(src="img/project-b-9.jpg", alt="")
              .item
                img(src="img/project-9.jpg", alt="")
              .item
                img(src="img/project-10.jpg", alt="")
              .item
                img(src="img/project-11.jpg", alt="")
              .item
                img(src="img/project-12.jpg", alt="")
          .projects__info(data-aos="fade-up")
            h2 Web-сайты
            p.sub-title Продающие LP, корпоративные сайты,
              br
              | имиджевые и персональные сайты.
      .projects__grid(data-aos="fade-up")
        .pr-carousel(js-slick-3-1)
          .projects__item
            img(src="img/project-9-1.jpg", alt="")
          .projects__item
            img(src="img/project-9.jpg", alt="")
          .projects__item
            img(src="img/project-10.jpg", alt="")
          .projects__item
            img(src="img/project-11.jpg", alt="")
          .projects__item
            img(src="img/project-12.jpg", alt="")
  // SECTION :: PROJECTS

  // SECTION :: PROJECTS
  section.projects
    .container.container--big
      .container
        .projects__top.projects__top--reverse
          .projects__carousel(data-aos="fade-up" data-aos-delay="300")
            .p-carousel(js-slick-4)
              .item
                img(src="img/project-b-13.jpg", alt="")
              .item
                img(src="img/project-13.jpg", alt="")
              .item
                img(src="img/project-14.jpg", alt="")
              .item
                img(src="img/project-15.jpg", alt="")
              .item
                img(src="img/project-16.jpg", alt="")
          .projects__info(data-aos="fade-up")
            h2 Презентации
            p.sub-title Маркетинг кит, презентации,
              br
              | коммерческие предложения. 
      .projects__grid(data-aos="fade-up")
        .pr-carousel(js-slick-4-1)
          .projects__item
            img(src="img/project-13-1.jpg", alt="")
          .projects__item
            img(src="img/project-13.jpg", alt="")
          .projects__item
            img(src="img/project-14.jpg", alt="")
          .projects__item
            img(src="img/project-15.jpg", alt="")
          .projects__item
            img(src="img/project-16.jpg", alt="")
  // SECTION :: PROJECTS

  // SECTION :: PARTNERS
  section.partners(data-aos="fade-up")
    .container
      .partners__grid
        .partners__item
          img(src="img/icon-1.png", alt="")
        .partners__item
          img(src="img/icon-2.png", alt="")
        .partners__item
          img(src="img/icon-3.png", alt="")
        .partners__item
          img(src="img/icon-4.png", alt="")
        .partners__item
          img(src="img/icon-5.png", alt="")
        .partners__item
          img(src="img/icon-6.png", alt="")
        .partners__item
          img(src="img/icon-7.png", alt="")
        .partners__item
          img(src="img/icon-8.png", alt="")
        .partners__item
          img(src="img/icon-9.png", alt="")
        .partners__item
          img(src="img/icon-10.png", alt="")
  // SECTION :: PARTNERS

  // SECTION :: about
  section.about
    .container.container--big
      img.about__coffee(src="img/coffee.png", alt="" data-aos="fade-up")
      img.about__note(src="img/note.png", alt="" data-aos="fade-up" data-aos-delay="1000")
      .container
        .about__grid
          .about__info(data-aos="fade-up" data-aos-delay="300")
            h2 О компании
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .about__block(data-aos="fade-up" data-aos-delay="600")
            //- img.about__note(src="img/note.png", alt="" data-aos="fade-up" data-aos-delay="1000")
  // SECTION :: about

  // SECTION :: CONSULTATION
  section.consultation
    .container.aos-offset(data-aos="fade-up")
      h2 Закажите консультацию
      form.js-registration-form(action="send.php" method="post")
        .consultation__grid
          .input-container
            input(type="text" name="name" placeholder="Ваше имя")
          .input-container
            input(type="tel" name="phone" placeholder="Ваш телефон")
          .input-container
            input(type="text" name="theme" placeholder="О проекте")
          .input-container
            input.btn(type="submit" value="Заказать звонок" )
            input(type="hidden" name="whatForm" value="Заказать консультацию")
  // SECTION :: CONSULTATION