.partners
  padding: 60px 0
  background: url(../img/bg-partners.jpg) center center no-repeat
  background-size: cover
  // padding-top: 1500px
  margin-top: 40px
  &__grid
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
  &__item
    margin: 30px auto
    width: auto
    text-align: center
    max-width: 20%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    img
      margin: 0 5px

+r($desktop)
  .partners
    &__item
      // margin: 10px
      img
        width: 80%
        height: auto
        margin: 0

+r($tablet)
  .partners
    padding: 20px 0
    margin-top: 20px
    &__item
      width: auto
      max-width: 40%
      margin: 10px
      img
        margin: 10px
        width: 80%
        height: auto